In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [2]:
data.shape

(4410, 24)

In [3]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [26]:
data.dropna(inplace=True)
data.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [4]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [4]:
data.corr()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.006963,-0.035706,NaN,0.008649,-0.002884,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
DistanceFromHome,0.006963,1.000000,-0.008638,NaN,-0.001097,-0.037329,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.008638,1.000000,NaN,-0.009680,0.045746,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.001097,-0.009680,NaN,1.000000,-0.003303,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
JobLevel,-0.002884,-0.037329,0.045746,NaN,-0.003303,1.000000,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
MonthlyIncome,-0.044314,-0.021607,0.006410,NaN,0.007338,0.047316,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,-0.013843,-0.016250,NaN,-0.001117,-0.009875,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.038125,-0.040531,NaN,-0.004456,0.010973,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,0.011169,0.001261,NaN,-0.014254,0.000993,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,0.009374,-0.010717,NaN,-0.001063,-0.036957,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.009001,0.010472,NaN,-0.010191,-0.032500,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,0.031684,0.006080,NaN,0.004086,-0.064219,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,0.002290,0.022490,NaN,0.000256,-0.060811,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,0.021584,0.005358,NaN,0.008579,-0.055251,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000

# MannWhitney Test :- Used to compare two independent smaples.

In [9]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.DistanceFromHome)
print(stats,p)

255456.0 0.0

In [12]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.Education)
print(stats,p)

0.0 0.0

In [14]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.EmployeeID)
print(stats,p)

160629.0 0.0

In [15]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.JobLevel)
print(stats,p)

0.0 0.0

In [17]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.MonthlyIncome)
print(stats,p)

0.0 0.0

In [18]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.NumCompaniesWorked)
print(stats,p)

83790.0 0.0

In [19]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.PercentSalaryHike)
print(stats,p)

112315.5 0.0

In [20]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.StockOptionLevel)
print(stats,p)

0.0 0.0

In [21]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.TotalWorkingYears)
print(stats,p)

467061.0 0.0

In [22]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.TrainingTimesLastYear)
print(stats,p)

0.0 0.0

In [23]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.YearsAtCompany)
print(stats,p)

129159.0 0.0

In [24]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.YearsSinceLastPromotion)
print(stats,p)

0.0 0.0

In [25]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.YearsWithCurrManager)
print(stats,p)

0.0 0.0

# Kruskal Wallis Test :- Used to compare more than 2 independent samples.

In [26]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.DistanceFromHome,data.Education)
print(stats,p)

255456.0 [0. 0. 0. ... 0. 0. 0.]

In [29]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.Education,data.JobLevel)
print(stats,p)

0.0 [0. 0. 0. ... 0. 0. 0.]

In [30]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.Education,data.MonthlyIncome)
print(stats,p)

0.0 [0. 0. 0. ... 0. 0. 0.]

In [31]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.NumCompaniesWorked,data.PercentSalaryHike)
print(stats,p)

83790.0 [0. 0. 0. ... 0. 0. 0.]

In [32]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.StockOptionLevel,data.TrainingTimesLastYear)
print(stats,p)

0.0 [0. 0. 0. ... 0. 0. 0.]

In [33]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.TotalWorkingYears,data.TrainingTimesLastYear)
print(stats,p)

467061.0 [0. 0. 0. ... 0. 0. 0.]

In [34]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.YearsSinceLastPromotion,data.YearsAtCompany)
print(stats,p)

0.0 [0. 0. 0. ... 0. 0. 0.]

In [35]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.YearsSinceLastPromotion,data.YearsWithCurrManager)
print(stats,p)

0.0 [0. 0. 0. ... 0. 0. 0.]

In [37]:
from scipy.stats import mannwhitneyu
stats,p=mannwhitneyu(data.Age,data.YearsSinceLastPromotion,data.MonthlyIncome)
print(stats,p)

0.0 [0. 0. 0. ... 0. 0. 0.]

# ChiSquare Test :- Used to check dependence of categorical variables.