In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [2]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [3]:
data.dropna(inplace=True)
data.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [4]:
data.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

## 1. Correlation between Attrition and Age

In [5]:
data["Attrition"].dtypes

dtype('O')

In [6]:
data["Attrition"].replace(to_replace=("Yes","No"),value=(1,0),inplace=True)

In [7]:
data["Attrition"].dtypes

dtype('int64')

In [8]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.Age)
print(stats,p)

-0.15839867954096704 5.1265982193780794e-26

## 2. Correlation between Attrition and BusinessTravel

In [9]:
data["BusinessTravel"].dtypes

dtype('O')

In [10]:
data["BusinessTravel"].replace(to_replace=("Non-Travel","Travel_Rarely","Travel_Frequently"),value=(0,1,2),inplace=True)

In [11]:
data["BusinessTravel"].dtypes

dtype('int64')

In [12]:
stats,p = pearsonr(data.Attrition,data.BusinessTravel)
print(stats,p)

0.125305933104297 8.411436982028483e-17

## 3. Correlation between Attrition and DistanceFromHome

In [13]:
stats,p = pearsonr(data.Attrition,data.DistanceFromHome)
print(stats,p)

-0.009448638515156281 0.5317715668018396

## 4. Correlation between Attrition and Education

In [14]:
stats,p = pearsonr(data.Attrition,data.Education)
print(stats,p)

-0.01710630705027875 0.25757539308157945

## 5. Correlation between Attrition and Gender

In [15]:
data["Gender"].dtypes

dtype('O')

In [16]:
data["Gender"].replace(to_replace=("Male","Female"),value=(1,0),inplace=True)

In [17]:
data["Gender"].dtypes

dtype('int64')

In [18]:
stats,p = pearsonr(data.Attrition,data.Gender)
print(stats,p)

0.018396425194440937 0.22339966086831062

## 6. Correlation between Attrition and PercentSalaryHike

In [19]:
stats,p = pearsonr(data.Attrition,data.PercentSalaryHike)
print(stats,p)

0.03315303713546659 0.028192446935112747

## 7. Correlation between Attrition and StockOptionLevel

In [20]:
stats,p = pearsonr(data.Attrition,data.StockOptionLevel)
print(stats,p)

-0.008164026684984305 0.588999635831226

## 8. Correlation between Attrition and TotalWorkingYears

In [21]:
stats,p = pearsonr(data.Attrition,data.TotalWorkingYears)
print(stats,p)

-0.1696699168472392 1.1645434967091854e-29

## 9. Correlation between Attrition and TrainingTimesLastYear

In [22]:
stats,p = pearsonr(data.Attrition,data.TrainingTimesLastYear)
print(stats,p)

-0.04758573693081729 0.0016276603635474061

## 10. Correlation between Attrition and YearsAtCompany

In [23]:
stats,p = pearsonr(data.Attrition,data.YearsAtCompany)
print(stats,p)

-0.13300261842521538 9.476118084840815e-19

## 11. Correlation between Attrition and YearsSinceLastPromotion

In [24]:
stats,p = pearsonr(data.Attrition,data.YearsSinceLastPromotion)
print(stats,p)

-0.03142315056330999 0.03752293607394324

## 12. Correlation between Attrition and YearsWithCurrManager

In [25]:
stats,p = pearsonr(data.Attrition,data.YearsWithCurrManager)
print(stats,p)

-0.15469153690287277 7.105369646771178e-25

##  13. Correlation between Attrition and MaritalStatus

In [26]:
data["MaritalStatus"]

0        Married
1         Single
2        Married
3        Married
4         Single
          ...
4404      Single
4405      Single
4406    Divorced
4407     Married
4408    Divorced
Name: MaritalStatus, Length: 4382, dtype: object

In [27]:
data["MaritalStatus"].replace(to_replace=("Single","Married","Divorced"),value=(0,1,2),inplace=True)

In [28]:
data["MaritalStatus"]

0       1
1       0
2       1
3       1
4       0
       ..
4404    0
4405    0
4406    2
4407    1
4408    2
Name: MaritalStatus, Length: 4382, dtype: int64

In [29]:
stats,p = pearsonr(data.Attrition,data.MaritalStatus)
print(stats,p)

-0.16008094285320495 1.522271982981261e-26